* {
	font-family: "Lato light"
}
a{
	text-decoration:none;
}
li{
	text-decoration:none;
	display:inline-table;
}
.bgHeader{
	background:url(../img/background/hero.jpg);
	background-size:cover;
	height:600px;
}
.bgHeader .col-6{
	background-color:(0,0,0,0,0.1);
	
}
.bgHeader i,.bgHeader h3{
	display:inline-block;
	color:white;
	margin-top:20px;
}
.bgHeader i{
	margin-left:50px;
	font-size:1.17em;
}
.bgHeader li{
	margin:20px 20px;
}
.bgHeader nav a{
	color:#FFFFFF;
	font-weight: bold;
}
.bgHeader nav a:hover{
	color:#61CDDD;
}
.bgHeader p{

	color:white;
	font-size:16px;
	margin:30px 25%;
}
.bgHeader .title{
	font-size:50px;
}

/* ---------------------------------*/

/*contacto */


.contact {
	color: white;
	padding-top: 50px;
	font-size: 14px;
}

.contactHeader {
	text-align: center;
}

.contactHeader h1 {
	margin-bottom: 20px;
	font-size: 30px; 
}

.bgContact {
	background: url(../img/background/contactus.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 600px;
}



/* follow */

.follow {
	color: #929292;
	font-size: 14px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.follow h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #555555;
}

.social-icon {
	margin: 5px;
	font-size: 25px;
	color: #2a3745;
}

.follow a {
	text-decoration: none;
}

/* footer */

footer {
	height: 60px;
	background-color: #1d1d1d;
	color: #a2a2a2;
	text-align: center;
	font-size: 10px;
	padding-top: 25px;
}