*{
	font-family:"Lato", sans-serif;
}
a{
	text-decoration:none;
	color:white;
}
li{
	text-decoration:none;
	display:inline-table;
}
.bgHeader, .ctAction, .bgContact {
	background-repeat: no-repeat;
	background-position: top-center;
}
.bgHeader{
	background:url(../img/background/hero.jpg);
	background-size: cover;
}
.bgHeadBlack{
	background:rgba(0, 0, 0, 0.6);
}
.bannerText{
	padding-top:100px;
	padding-bottom:100px;
}
.button{
	padding:15px 10px;
	margin:0 auto;
	display:inline-block;
}
.bUno{
	background:#35323B;
	border:1px solid #26242B;
	margin-right:30px;
	margin-bottom: 10%;
}
.bDos{
	border:1px solid #787878;
	background:rgba(255, 255, 255, 0.1)
}
.bgHeader span,.bgHeader h3{
	display:inline-block;
	margin-top:20px;
	margin-bottom:15px;
}
.bgHeader span{
	margin-left:5%;
	font-size:1.17em;
}
.bgHeader li{
	margin:20px 20px;
}
.bgHeader nav a{
	font-weight: bold;
}
.bgHeader nav a:hover,.items1 p:first-child,.bgItems2 p:first-child{
	color:#00c1c0;
}
.bannerText p{
	font-size:16px;
	margin:30px 10%;
}
.bannerText p:nth-child(2){
	padding:0 60px;
}
.bannerText p:first-child{
	font-size:50px;
}
.bannerText p:first-child, .bgFeat h1, .bgItems2, .bTres, .bgBlanco, #purchase, .coCust, .cust img{
	margin-top:50px;
}
.items1{
	margin-left:50px;
	margin-right:50px;
	margin-bottom:100px;
}
.items1 p:first-child{
	margin-top:100px;
	font-size:40px;
}
.items1 p{
	font-size:14px;
	margin:10px 10% 0px 10%;
}
.bgFeat{
	background:#f4f4f4;
	padding-left:29px;
	padding-bottom: 20px;
}
.bgFeat h1{
	margin-bottom:20px;
}
.bgFeat img{
	width:70%;
}
.bgItems2 p:first-child{
	display:inline-block;
	font-size:22px;
	vertical-align:top;
	margin-right:5px;
}
.bgItems2{
	text-align:left;
	background:#fff;
	padding-left:100px;
	padding-right:85px;
}
.bgItems2 .col-6 div{
	display:inline-block;
	width:91%;
	margin-bottom:40px;
}
.bgItems2 .col-6 div p{
	font-size:14px;
}
.bgItems2 h4{
	margin-bottom:5px;
}
.portfolio{
	background:#f4f4f4;
	padding-top:30px;
	color: #505050;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:5px;
}
.portfolio li{
	padding:5px 10px;
	color:black;
	background:white;
	margin-left:3px;
	margin-bottom:10px;
}
.portfolio nav a{
	color:inherit;
	font-weight: bold;
	line-height:1.5;
}
.portfolio li:hover,.portfolio nav a:hover{
	background:#00c1c0;
	color:white;
}
.portItem{
	padding:10px;
	background:#fff;
	margin-bottom:20px;
	border: 1px solid #e3e3e3;
	box-shadow: 0.5px 0.5px 1px #e5e5e5;
}
.portItem img{
	width:100%;
}
.bPort{
	background:#2a3745;
	margin-top:30px;
	margin-bottom:10px;
}
.ctAction{
	background:url(../img/background/city.jpg);
	background-size: cover;
}
.ctAction .bgHeadBlack{
	font-size:1.5em;
}
.ctAction .bgHeadBlack p:first-child{
	margin-top:100px;
	margin-bottom:10px;
}
.bTres{
	background:rgba(255, 255, 255, 0.1);
	border:1px solid #60608C;
	margin-bottom: 100px;
}
.bTres a{
	font-size:.7em;
}
/* ---------------------------------*/
.package {
	background-color: #f4f4f4;
	padding:30px 50px 80px 50px;
}
.hPackage {
	color: #505050;
}
.bgBlanco {
	background-color: white;
	padding: 15px;
	border: 1px solid #e3e3e3;
	box-shadow: 0.5px 0.5px 1px #e5e5e5;
	margin-bottom: 50px;
}
.bgColores {
	margin-top: 20px;
	margin-bottom: 25px;
}
.fOscuro, .fCyan, .fClaro {
	padding-top: 30px;
	padding-bottom: 30px;
}
.fOscuro {
	background-color: #2a3745;
}
.fClaro {
	background-color: #f0f0f0;
	color: #545454;
}
.fCyan {
	background-color: #00c1c0;
}
.price {
	font-size: 30px;
}
.fContenido p {
	color: #868686;
}
.fContenido hr {
	width: 200px;
	border: 0.2px solid #eeeeee;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
#purchase {
	background-color: #252e38;
	padding: 6px 20px;
	font-weight: bold;
	margin-bottom: 50px;
}
.coCust{
	margin-bottom:50px;
}
.cust img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	margin-bottom: 10px;
}
.cust p {
	line-height: 30px;
	margin: 0 auto;
	width: 80%;
} 
.bgBlack {
	background:rgba(0, 0, 0, 0.5);
}
.bgContact {
	background: url(../img/background/contactus.jpg);
	background-size: cover;
}
.contact {
	font-size: 14px;
}
.contactHeader {
	margin-top: 30px;
	margin-bottom: 30px;
}
.contactHeader h1 {
	margin-bottom: 20px;
	font-size: 30px; 
}
.about-cont {
	line-height: 20px;
	margin-bottom: 50px;
	padding-left: 10%;
}
.about-cont p {
	width: 80%;
}
.formCont {
	padding-left: 10%;
	margin-bottom: 50px;
}
.imp1, .imp2 {
	width: 400px;
	background-color: rgba(44, 44, 44, 0.6);
	border: none;
}
.imp1 {
	height: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.imp2 {
	height: 140px;
	margin-bottom: 25px;
	margin-top: 5px;
}
#enviar {
	background-color: #00c1c0;
	padding: 15px 40px; 
	font-weight: bolder;
}
.about-icon {
	margin-right: 10px;
}
.follow {
	color: #929292;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 60px;
}
.follow h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	color: #555555;
}
.social-icon {
	margin: 10px 5px 40px 5px;
	font-size: 25px;
	color: #2a3745;
}
footer {
	background-color: #1d1d1d;
	color: #a2a2a2;
	font-size: 10px;
	padding-top: 25px;
	padding-bottom:25px;
}